@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Prata", serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  height: 100%;
  position: relative;
}

a {
  color: #d73930;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #d73930;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 30% 0 0 0;
}
#content{
	background-color: #343338;
}
#content-script{
	background-color: #fff;
}
::-webkit-selection {
  color: #fff;
  background: #d73930;
}

::-moz-selection {
  color: #fff;
  background: #d73930;
}

::selection {
  color: #fff;
  background: #d73930;
}

#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
}
#fh5co-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#fh5co-header #navbar.navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#fh5co-header #navbar .navbar-right {
  margin-right: 0;
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar .navbar-right {
    margin-right: -15px;
  }
}
#fh5co-header #navbar li a {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
#fh5co-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#fh5co-header #navbar li a:hover {
  color: #fff;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li a:hover span:before {
    display: none;
  }
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a {
    color: #fff;
  }
}
#fh5co-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a span:before {
    background-color: transparent;
  }
}
#fh5co-header #navbar li.call-to-action {
  margin-left: 10px;
}
#fh5co-header #navbar li.call-to-action a {
  border: none;
  padding: 2px 20px 2px 20px;
  margin: 12px 0 0 0px;
  line-height: 1.5;
  background-color: #d73930;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header #navbar li.call-to-action a:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
#fh5co-header #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#fh5co-header .navbar-brand {
  float: left;
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding-left: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}
@media screen and (max-width: 992px) {
  #fh5co-header .navbar-brand {
    padding-left: 10px !important;
    padding-right: 0 !important;
  }
}
#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  top: 0;
}
#fh5co-header.navbar-fixed-top #navbar li a {
  color: rgba(255, 255, 255, 0.5) !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
  color: #d73930;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  color: #fff !important;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #d73930 !important;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    background-color: transparent;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a:hover {
  background-color: #d73930;
  color: #fff !important;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#fh5co-header .navbar-default {
  border: transparent;
  background: #1a1b1e;
  background: #d73930;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#fh5co-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#fh5co-header .navbar-default .brand-slogan em {
  color: #d73930;
  font-style: normal;
}

.lead {
  font-size: 18px;
}

img {
  margin-bottom: 40px;
}

.img-shadow {
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}

#section-home {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  color: #fff;
}
#section-script {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  color: #fff;
}
#section-script .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: #fff;
}
#section-script .text-wrap{
   display: table;
  width: 100%;
  position: relative;
}
#section-script .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#section-script a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline;
}
#section-script a:hover {
  color: #fff;
  text-decoration: none;
}
#section-home a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline;
}
#section-home a:hover {
  color: #fff;
  text-decoration: none;
}
#section-home .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: rgba(38, 39, 44, 0.9);
}
#fh5co-home, #section-home .text-wrap {
  height: 900px;
}
#section-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#section-home .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#section-home .text-inner h1 {
  font-size: 38px;
  text-transform: uppercase;
  color: white;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#section-home .text-inner h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 60px 0;
}
#section-home .text-inner .call-to-action {
  display: block;
  width: 100%;
}
#section-home .text-inner .call-to-action a {
  width: 230px;
  display: inline-block;
  font-size: 20px;
  padding: 15px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}
#section-home .text-inner .call-to-action a.demo {
  border: 2px solid #fff;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  #section-home .text-inner .call-to-action a.demo {
    margin-bottom: 20px;
  }
}
#section-home .text-inner .call-to-action a.demo:hover {
  background: rgba(255, 255, 255, 0.2);
}
#section-home .text-inner .call-to-action a.button {
  border: 2px solid #d73930;
  background: #d73930;
  text-decoration: none !important;
 
}
#section-script .text-inner .call-to-action a.demo {
  border: 2px solid #d73930;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  #section-script .text-inner .call-to-action a.demo {
    margin-bottom: 20px;
  }
}
#section-script .text-inner .call-to-action a.demo:hover {
background: rgba(255, 255, 255, 0.2);
}
#section-script .text-inner .call-to-action a.button {
  border: 2px solid #d73930;
  background-color: #d73930;
  text-decoration: none !important;
}
#section-script .text-inner .call-to-action {
  display: block;
  width: 100%;
   background-color: #d73930;
}
#section-script .text-inner .call-to-action a {
  width: 230px;
  display: inline-block;
  font-size: 20px;
  padding: 15% 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e82a3a 0%,
		#f20c2b);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e82a3a),
		to(#f20c2b));
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #f02d2d;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0);
}

/*# sourceMappingURL=style.css.map */
